.cart-side {
  position: fixed;
  top: 0;
  right: -800px; /* Initially hidden */
  width: 400px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  transition: right 0.3s ease;
  overflow-y: auto;
}

.cart-side.active {
  right: 0; /* Show the cart */
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #333;
  border-radius: 5px;
}

.close-btn {
  background-color: #c54513;
  color: #fff;
  height: auto;
  width:auto
}