<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <div class="footer " style="background-color: rgba(243, 243, 243, 1);height:auto;margin-top: 100px;max-width:100%">
        <p >.</p>
       <div style="display:flex;flex-direction:row;margin-top: 80px;margin-left: 150px;gap:100px;max-width:100%">
 
         <div>
           <h2>
             Food On Farm <br> Pickles
           </h2>
           <p style="line-height: 1.8;font-size: 14px;">Food On Farm Pickles aims to bring the <br>finest, most flavorful, and authentic<br> pickles to your table. We are dedicated <br>to preserving the traditional art of <br>pickle-making while infusing a modern <br>twist to delight your taste buds.
             <br>
             FSSAI License No: 20123191000028 <br>
             
             Certified for quality and food safety by<br> the Food Safety and Standards Authority <br>of India.</p>
         </div>
 
         <div >
           <h3 style="font-weight: 600;font-size: 18px;color: #2b2b2b;;">Navigate</h3>
           <ul style="line-height: 2;list-style-type: none;padding: 0; margin: 0;">
             <li>
               <a routerLink="" class="f" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }">Home</a>
             </li>
             <li>
               <a routerLink="shop" class="f" routerLinkActive="active">Shop</a>
 
             </li>
             <li>
               <a href="" style="color: #003134;text-decoration: none;">Recipes</a>
 
             </li>
             <li>
               <a routerLink="/aboutus" class="f" routerLinkActive="active">About us
 
               </a>
 
             </li>
             <li>
               <a routerLink="contactus" class="f" routerLinkActive="active">Contact us</a>
             </li>
           </ul>
         </div>
 
         <div style="display: flex;flex-direction: column;align-items:flex-start;"> 
           <h3 style="font-weight: 600;font-size: 18px;color: #2b2b2b">Informations</h3>
 
           <ul style="line-height: 2;list-style-type: none;padding: 0; margin: 0;">
             <li>
               <a href="" style="color: #003134;text-decoration: none;">Shipping and Delivery Policy</a>
             </li>
             <li>
               <a href="" style="color: #003134;text-decoration: none;">Refund and Return Policy</a>
             </li>
             <li>
               <a href="" style="color: #003134;text-decoration: none;">Privacy Policy</a>
             </li>
             <li>
               <a href="" style="color: #003134;text-decoration: none;">Terms and Conditions</a>
             </li>
             <li>
               <a href="" style="color: #003134;text-decoration: none;">F.A.Qs</a>
             </li>
           </ul>
         </div>
 
         <div>
           <h3 style="font-weight: 600;font-size: 18px;color: #2b2b2b">News Letter</h3>
          
             <p style="line-height: 2;">Subscribe to get notified about product launches, special offers and news.</p>
             <input type="text" class="form-control" style="width:250px"><br>
             <button type="button" style="color:white;border:none;background-color:#c54513;border-radius: 10px;min-width:80px;height:45px">subscribe</button>
             
           
         </div>
 
       </div>

   
     </div>

</body>
</html>
