<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div style="background-color:  #f2f2f2;padding-top: 40px;padding-bottom: 40px;">
            <div style="text-align: center;">
                <h2 style="font-weight: 400;">Overseas Orders</h2>
                <p><a routerLink="" style="text-decoration: none;color: black;">Home</a>/ Overseas Orders</p>
            </div>
    
        </div>
        <br>
        <br>
        <div style="margin-left: 200px;line-height: 1;">
            <p>We ship Veg Pickles, Non Veg Pickles, Powders to almost all countries, including USA and UK. Please <b>WhatsApp</b> Us for complete shipping information.

            </p>
            <p>Before we finalize the order, we will ensure that the shipping charges are conveyed to you clearly.

            </p>
            <p>Note: Customs duty fee, if imposed on a shipment, has to be paid by the customer

            </p>
        </div><br>

        <div style="line-height: 2;">
            <h3 style="font-weight: 600;margin-left: 200px;">How can you Order:</h3>
            <P style="margin-left: 200px;">You can place an order over the WhatsApp </P>
        </div>

        <div>
            <h3 style="font-weight: 600;margin-left: 200px;">How can you Pay:</h3>
            <div style="line-height: 1;margin-top: 20px;">
                <P style="margin-left: 200px;">You can pay via Bank Transfer, GooglePay, PhonePay or PayTm. We will be sharing the details via <b>WhatsApp</b> or <b> Email</b> </P>
                <P style="margin-left: 200px;">Food On Farm Pickles is not responsible for shipment held for any reason beyond our control like government agencies, natural calamities or Holidays or unforeseen events. </P>
            </div>

        </div>
        <br>

        <div style="line-height: 2;">
            <h3 style="font-weight: 600;margin-left: 200px;">Terms and Conditions:</h3>
            <P style="margin-left: 200px;">Food On Farm Pickles is not liable if the shipment is lost (includes miss delivery) or damaged because of circumstances beyond our control. Those circumstances include:

            </P>
          
            <div style="margin-left: 200px;line-height: 1;">
                <p>1.An act of God for example earthquake, cyclone, storm or flood, etc…</p>
                <p>2.Force Majeure for example war, plane crash or embargo.</p>
                <p>3.Weight will also include Box packing.</p>
            </div>
            <p style="margin-left: 200px;">Food On Farm Pickles will not pay any refund in case of any delay in shipping (in any scenario)</p>
        </div>

    </div>
</body>
</html>
