<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div >
        <div style="background-color:  #f2f2f2;padding-top: 40px;padding-bottom: 40px;">
            <div style="text-align: center;">
                <h2 style="font-weight: 400;">Contact Us</h2>
                <p><a style="text-decoration: none;color: black;" routerLink="">Home</a> / Contact Us</p>
            </div>
    
        </div>


        <br>
        <br>
        <br>
        <div>
            <h3 style="font-weight: 600;margin-left: 200px;">We’d Love to Hear From You!</h3>
            <p style="line-height: 2;margin-left: 200px;">We are dedicated to providing exceptional products and outstanding customer service. Whether you have a question about our pickles, need assistance with an order, or simply <br>want to share your feedback, we’re here to help.

                .</p>
            
        </div>
         <br>

         <h3 style="font-weight: 600;margin-left: 200px;">How to Reach Us</h3><br>

         <div>
            <h3 style="font-weight: 600;margin-left: 200px;">EmailUs</h3>
            <p style="line-height: 2;margin-left: 200px;">For general inquiries, please email us at <b>chsarath9&#64;gmail.com</b> We strive to respond to all emails within 24-48 hours.</p>
         </div><br>

         <div>
            <h3 style="font-weight: 600;margin-left: 200px;">WhatsApp Us:</h3>
            <p style="line-height: 2;margin-left: 200px;">Our team is here to help you.<b>WhatsApp</b>  us during our business hours:

            </p>
            <p style="line-height: 1;margin-left: 200px;"><b>Monday to Saturday:</b> 9:00 AM – 6:00 PM</p>
         </div><br>

         <div>
            <h3 style="font-weight: 600;margin-left: 200px;">Who We Are:</h3><br>
            <div style="margin-left: 200px;line-height: 1">
                <p>A UNIT OF</p>
                <p><b>Sarath FoodCorp Private Limited.</b></p>
                <p> Eluru, Andhra Pradesh- 522257</p>
                <p>GST : 37AAOCA2924Q2Z0</p>
                <p>Contact : 9666214497</p>
            </div>
         </div>
           





    </div>

</body>
</html>
