<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div style="background-color:  #f2f2f2;padding-top: 40px;padding-bottom: 40px;">
            <div style="text-align: center;">
                <h2 style="font-weight: 400;">Shop</h2>
                <p><a routerLink="" style="text-decoration: none;color: black;">Home</a>/ Shop</p>
            </div>
    
        </div>
        <br>
        <br>

        <div style="display:flex;margin-left: 160px;gap:10px">
            <div style="width:380px;">
                <h5  style="font-weight:400;margin-left: 5px;">Categories</h5><br>

                <div *ngFor="let x of allcategories" style="display: flex;flex-direction:column ;align-items:flex-start;font-size: 16px;">
                    
                    <button style="border:none;background-color:white;text-align: left;width: 100%;line-height: 1;" [routerLink]="['/product-category', x.categoryname]" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" type="button">{{x.categoryname}}</button><br>

                </div>

            </div>

            <div class="cardd" style="display:flex;flex-wrap: wrap;gap:30px;max-width: 100%;">
                <div *ngFor="let x of allcategories" >
                    <div>
                        <img (click)="imgclick(x.categoryname)" style="cursor:pointer" src='data:{{a}};base64,{{x.categoryimage}}' height="300"  width="300">
                        <br>
                        <br>
                        <h5 style="text-align: center;">{{x.categoryname}}</h5>


                    </div>
                    
                   
                </div>

                
                
                
            </div>


        </div>
       

       

    </div>
</body>
</html>
